/* You can add global styles to this file, and also import other style files */
.navbar-custom {
    background-color: #E37222;
}

.nav-link {
    color: #ffffff;
}

.alert-custom {
    background-color: #E37222;
}

.alert-link {
    color: #ffffff;
}